/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
.idea
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpunit.cache
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/app/public/*
